#content{
    position: relative;
    //overflow-x: hidden;
    top: 100vh;
    height: 1200px;
    width: 100%;
    background: rgba(255,255,255,0.8);
}

#content:before{
    content: "";
    position: absolute;
    top: -100px;
    left:0;
    height: 100px;
    width: 100%;
    background-image: $mountain;
}