#content{
    position: relative;
    //overflow-x: hidden;
    top: 10vh;
    // height: 1200px;
    width: 100%;
    //background: rgba(255,255,255,0.8);
    z-index: 1;
}

.tile{
    overflow: hidden;
    border-radius: 5px;
    height: 150px;
    width: 150px;
    object-fit: cover;    
    img{
        height: 150px;
        width: 150px;
        transform-origin: center;
        //transform: scale(1.2) translate(0,2%);
        //transform: translate(0, 2%);
        object-fit: cover;
    }
}

// #content:before{
//     content: "";
//     position: absolute;
//     top: -100px;
//     left:0;
//     height: 100px;
//     width: 100%;
//     //background-image: $mountain;
// }