#content{
    position: relative;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px 0;
    top: 10vh;
    // height:100vh;
    // overflow: scroll;
    justify-items: center;
    align-items: center;
    z-index: 2;

    &.modal-open {
        position: fixed;
        top: 0;
    }
}

.tile{
    overflow: hidden;
    position: relative;
    height: 162px;
    width: 95%;
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
    transition: 
        transform 1s,
        opacity 1.3s;
    transform: translateY(60px);
    opacity: 0;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: inherit;
        .image{
            height: 162px;
            width: 100%;
            position:relative;
            z-index: 1;
            
        }
    }
}
.slide-in{
    transform: translateY(0);
    opacity: 1;
}

.fade-in{
    
}

#video{
    width: 200%;
    height: 162px;
    background: black;
}