#filterForm{
    margin: 0 auto;
    position: fixed;
    background: rgba(255, 203, 61, 0.877);
    right: 0;
    bottom: 10vh;
    width: 55%;
    border-radius: 5px 0 0 0;
    transition: 300ms ease-in-out;
    transform: translateX(100%);
}

//LABEL
label{
    .filter-toggler{
        position: fixed;
        bottom: 10vh;
        right: 54.86%;
        transition: 300ms ease-in-out;
        transform: translateX(300%);
        height: 50px;
        width: 70px;
        border-radius: 50px 0 0 50px;
        background: rgba(255, 203, 61, 0.877);
        &:before{
            position: absolute;
            content: '+';
            font-size: 2rem;
            color: white; 
            line-height: 50px;
            left: 15px;
            text-shadow: 1px 1px 2px rgba(153, 122, 37, 0.623);
        }
    }
}

//CHECKBOX
#filterToggle{
    display: none;
    &:checked ~ #filterForm{
        transform: translateX(0);
    }
    &:checked ~ label{
        & .filter-toggler{
            transform: translateX(0);
        }
    }
}