.App-header {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 0 0 20px;
    text-transform: uppercase;
    color: white;
    #Background{
        position: fixed;
        top: -20vh;
        height: 200vh;
        width: 100%;
        background: $sunset;
    }
    h1{
        margin: 45px;
        font-size: 5rem;
        font-weight: 100;
        text-shadow: 2px 2px 2px rgba(255,129,124,0.7);
    } 
}