.App-header {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    padding: 0 0 20px;
    text-transform: uppercase;
    color: white;
    background: $header;
    z-index: 3;
    h1{
        position: absolute;
        z-index:20;
        margin: 15px;
        font-size: 1.2rem;
        font-weight: 300;
        text-shadow: 1px 1px .3px rgba(255,129,124,1);
    } 
}