#modal{
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    height:100vh;
    #modalContainer{
        display: grid;
        padding-top: 60px;
        overflow: scroll;
        // grid-template-rows: max-content auto;
        grid-template-areas: "image" "galNav" "desc";
        height: 100%;
        transition: 300ms ease-in;
        &:before{
            height: 60px;
            content: "";
        }
    }
}

.modal-fade-appear{
    background-color: rgba(255, 255, 255, 0);
}

.modal-fade-enter-done{
    background-color: rgba(255, 255, 255, 0.9);
}

#buyNow{
    display: none;
}

#modalToggle{
    height: 40px;
    width: 40px;;
    border-radius: 5px;
    position: fixed;
    top: 69px;
    left: 22px;
    z-index: 6;
    // opacity: 1;
    transition: 300ms ease-out 200ms;
    label{
        position: absolute;
        z-index: 5;
        top: 0;
        bottom: 0;
        left: 0;
        width:40px;
        height:40px;
        border-radius: 50%;
        background: rgba(255, 149, 149, 0.11);
        &:after{
            color: #FFF;
            text-shadow: $shadow;
            content: "\00D7"; //"x"
            font-size: 30px; 
            text-align: center;
        }
    }
    #modalCheck{
        display: none;
    }
}

.toggle-slide-appear{
    transform: translateX(-100%);
    opacity: 0;
}

.toggle-slide-enter-done{
    transform: translateX(0);
    opacity: 1
}
.toggle-slide-exit-done{
    transform: translateX(-100%);
    opacity: 0;
}



#galleryNav{
    position: relative;
    grid-area: galNav;
    align-self: center;
    // opacity: 0;
    width: 100%;
    height: 100%;
    // transition: 400ms ease-in-out;
    button{
        position: relative;
        border: none;
        outline: none;
        background-color: rgba(255, 255, 255, 0);
        z-index: 4;
        width: 50vw;
    }
    #adv{
        position: relative;
        &:after{
            color: #FFF;
            text-shadow: $shadow;
            content: "\203a";
            font-size: 50px; 
            text-align: right;
        }
    }
    #dec{
        position: relative;
        &:after{
            color: #FFF;
            text-shadow: $shadow;
            content: "\2039";
            font-size: 50px; 
            text-align: left;
            
        }
    }
}



#modalImage{
    position: relative;
    z-index: 5;
    margin: 0;
    padding: 0;
    grid-area: image;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    .image{
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
        align-self: center;
        img{
            object-fit: cover;
            max-width: 95%;
            max-height: 100%;
            box-shadow: 2px 2px 10px rgba(255, 129, 124, 0.7);
        }
    }
}

#modalDesc{
    position: relative;
    grid-area: desc;
    background: rgba(255, 255, 255, 0.5);
    transition: 400ms ease-in-out;
    p{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0 auto 15vh;
        width: 85%;
        transition: 300ms ease-out;
    }
}


.desc-fade-entering{
    opacity: 0;
}

.desc-fade-entered{
    opacity: 1
}
.desc-fade-exited{
    opacity: 0;
}

#shopElements{
    opacity: 1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title price"
        "pay pay"
        "desc desc";
    h2{
        justify-self: center;
        grid-area: title;
        font-size: 3rem;
        margin: 0;
    }
    #desc{
        grid-area: desc;
        p{
            text-align: justify;
        }
    }
    #priceDeets{
        grid-area: price;
        margin: 2vh;
        #price{
            margin: 0;
            font-size: 2rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 300;
        }
        #stock{
            font-size: .8rem;
            margin: 0;
        }
    }
    #paymentDeets{
        display: grid;
        grid-template-areas: 
            "qty add buy";
        grid-area: pay;
        #addItem{
            grid-area: add;
        }
        #buy{
            grid-area: buy;
        }
        #qty{
            grid-area: qty;
        }
        .button {
            display: inline-block;
            border: none;
            padding: .8rem 1.6rem;
            margin: 0;
            text-decoration: none;
            background: #ff7788;
            color: #ffffff;
            font-family: sans-serif;
            font-size: 1rem;
            cursor: pointer;
            text-align: center;
            transition: background 250ms ease-in-out, 
                        transform 150ms ease;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        
        .button:hover,
        .button:focus {
            background: #d83a84;
        }
        
        .button:focus {
            outline: 1px solid #fff;
            outline-offset: -4px;
        }
        
        .button:active {
            transform: scale(0.99);
        }
    }
}