$sunset: linear-gradient(to bottom, 
            rgba(26,65,132,1) 0%,
            rgba(82,81,130,1) 15%,
            rgba(255,129,124,0.88) 33%,
            rgba(255,222,147,0.78) 54%,
            rgba(249,255,186,0.73) 66%,
            rgba(255,255,255,0.57) 100%);
$header: linear-gradient(to bottom, 
            rgba(26,65,132,1) 25%,
            rgba(26,65,132,0.5) 60%,
            rgba(255,255,255,0) 100%);
$mountain: linear-gradient(to bottom, 
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0.8) 100%);

$medium: "(min-width: 640px)";
$smallMedium: "(min-width: 500px)";