@import './partials/_variables';
@import './partials/_animation';

html{
    overflow-x: hidden;
    background: $sunset no-repeat fixed;
}

body{
    // position: absolute;
	height: 100vh;
    margin: 0;
    padding: 0;
}

body.noScroll{
    overflow-x: hidden;
}

.App {
    // position:absolute;
    // z-index:-1;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

@import './partials/_header';
@import './partials/_content';
@import './partials/_nav';
@import './partials/_modal';
@import './partials/_form';





