@keyframes slide {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes antislide {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
html {
  overflow-x: hidden;
  background: linear-gradient(to bottom, #1a4184 0%, #525182 15%, rgba(255, 129, 124, 0.88) 33%, rgba(255, 222, 147, 0.78) 54%, rgba(249, 255, 186, 0.73) 66%, rgba(255, 255, 255, 0.57) 100%) no-repeat fixed; }

body {
  height: 100vh;
  margin: 0;
  padding: 0; }

body.noScroll {
  overflow-x: hidden; }

.App {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0; }

.App-header {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  padding: 0 0 20px;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(to bottom, #1a4184 25%, rgba(26, 65, 132, 0.5) 60%, rgba(255, 255, 255, 0) 100%);
  z-index: 3; }
  .App-header h1 {
    position: absolute;
    z-index: 20;
    margin: 15px;
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: 1px 1px 0.3px #ff817c; }

#content {
  position: relative;
  display: grid;
  margin: auto;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px 0;
  top: 10vh;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  z-index: 2; }
  @media (min-width: 600px) {
    #content {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); } }
  @media (min-width: 800px) {
    #content {
      grid-template-columns: repeat(auto-fill, 266px);
      max-width: 800px;
      margin: 0 auto; } }
  #content.modal-open {
    position: fixed;
    top: 0; }

.tile {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 95%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5); }
  .tile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: inherit; }

.slide-in-enter, .slide-in-appear {
  transform: translateY(80px);
  opacity: 0; }

.slide-in-enter-active, .slide-in-appear-active {
  transform: translateY(0px);
  opacity: 1; }

#video {
  grid-column: span 2;
  border-radius: 5px;
  width: 95%;
  height: 162px;
  background: black; }

nav {
  position: fixed;
  width: 100%;
  z-index: 10; }
  nav #toggle {
    position: fixed;
    right: 10px;
    width: 30px;
    height: 30px;
    margin: 10px;
    z-index: 20; }
    nav #toggle label {
      transition: right 0.3s cubic-bezier(0.27, 0.86, 0.54, 0.99);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      z-index: 20; }
      nav #toggle label .menu-bar {
        transition: 0.1s linear;
        width: 30px;
        height: 2px;
        margin: 7px 0;
        border-radius: 1px;
        background: white;
        box-shadow: 2px 2px 2px #ff817c; }
    nav #toggle .expandee {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 0;
      transition: height 0.2s linear;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.9); }
      nav #toggle .expandee ul {
        list-style-type: none;
        margin: auto;
        height: 100vh;
        padding: 0;
        padding-top: 12vh; }
        nav #toggle .expandee ul li {
          display: block;
          width: 100%;
          height: 30%;
          text-align: center; }
          nav #toggle .expandee ul li a {
            font-family: 'Lato', Arial, Helvetica, sans-serif;
            font-weight: 300;
            font-size: 5rem;
            color: white;
            text-shadow: 2px 2px 2px #ff817c;
            height: 30%;
            display: block;
            text-decoration: none;
            padding: 5% 0; }
            nav #toggle .expandee ul li a:hover, nav #toggle .expandee ul li a.active {
              cursor: pointer;
              text-shadow: 2px 2px 2px #ff817c; }
    nav #toggle #navToggle {
      display: none; }
      nav #toggle #navToggle:checked ~ .expandee {
        height: 100vh; }
      nav #toggle #navToggle:checked ~ label :nth-child(1) {
        transform: translateY(10px) rotate(45deg); }
      nav #toggle #navToggle:checked ~ label :nth-child(2) {
        opacity: 0; }
      nav #toggle #navToggle:checked ~ label :nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        box-shadow: 2px 2px 2px #ff817c; }

#modal {
  position: fixed;
  z-index: 4;
  top: 0;
  height: 100vh; }
  #modal #modalContainer {
    display: grid;
    padding-top: 60px;
    overflow: scroll;
    grid-template-areas: "image" "galNav" "desc";
    justify-items: center;
    height: 100%;
    transition: 300ms ease-in; }
    #modal #modalContainer:before {
      height: 60px;
      content: ""; }

.modal-fade-appear {
  background-color: rgba(255, 255, 255, 0); }

.modal-fade-enter-done {
  background-color: rgba(255, 255, 255, 0.9); }

#buyNow {
  display: none; }

#modalToggle {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  position: fixed;
  top: 69px;
  left: 22px;
  z-index: 5;
  transition: 300ms ease-out 200ms; }
  #modalToggle label {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5); }
    #modalToggle label:after {
      color: #FFF;
      text-shadow: 2px 2px 2px #ff817c;
      content: "\00D7";
      font-size: 30px;
      text-align: center; }
  #modalToggle #modalCheck {
    display: none; }

.toggle-slide-appear {
  transform: translateX(-100%);
  opacity: 0; }

.toggle-slide-enter-done {
  transform: translateX(0);
  opacity: 1; }

.toggle-slide-exit-done {
  transform: translateX(-100%);
  opacity: 0; }

#galleryNav {
  position: relative;
  grid-area: galNav;
  align-self: center;
  width: 100%;
  height: 100%;
  transition: 400ms ease-in-out; }
  #galleryNav button {
    position: relative;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 8;
    width: 50vw; }
  #galleryNav #adv {
    position: relative; }
    #galleryNav #adv:after {
      color: #FFF;
      text-shadow: 2px 2px 2px #ff817c;
      content: "\203a";
      font-size: 50px;
      text-align: right; }
  #galleryNav #dec {
    position: relative; }
    #galleryNav #dec:after {
      color: #FFF;
      text-shadow: 2px 2px 2px #ff817c;
      content: "\2039";
      font-size: 50px;
      text-align: left; }

.nav-slide-appear {
  transform: translateY(-100%);
  opacity: 0; }

.nav-slide-enter-done {
  transform: translateY(0);
  opacity: 1; }

.nav-slide-exit-done {
  transform: translateY(-100%);
  opacity: 0; }

#modalImage {
  position: relative;
  margin: 0;
  padding: 0;
  grid-area: image;
  width: 100%;
  height: 100%; }
  #modalImage .image {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    align-self: center; }
    #modalImage .image img {
      object-fit: cover;
      max-width: 95%;
      max-height: 100%;
      box-shadow: 2px 2px 10px rgba(255, 129, 124, 0.7); }

#modalDesc {
  position: relative;
  grid-area: desc;
  opacity: 1; }
  #modalDesc p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 auto 15vh;
    width: 85%; }

#shopElements {
  opacity: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title price" "pay pay" "desc desc"; }
  #shopElements h2 {
    justify-self: center;
    grid-area: title;
    font-size: 3rem;
    margin: 0; }
  #shopElements #desc {
    grid-area: desc; }
    #shopElements #desc p {
      text-align: justify; }
  #shopElements #priceDeets {
    grid-area: price;
    margin: 2vh; }
    #shopElements #priceDeets #price {
      margin: 0;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300; }
    #shopElements #priceDeets #stock {
      font-size: .8rem;
      margin: 0; }
  #shopElements #paymentDeets {
    display: grid;
    grid-template-areas: "qty add buy";
    grid-area: pay; }
    #shopElements #paymentDeets #addItem {
      grid-area: add; }
    #shopElements #paymentDeets #buy {
      grid-area: buy; }
    #shopElements #paymentDeets #qty {
      grid-area: qty; }
    #shopElements #paymentDeets .button {
      display: inline-block;
      border: none;
      padding: .8rem 1.6rem;
      margin: 0;
      text-decoration: none;
      background: #ff7788;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out,  transform 150ms ease;
      -webkit-appearance: none;
      -moz-appearance: none; }
    #shopElements #paymentDeets .button:hover,
    #shopElements #paymentDeets .button:focus {
      background: #d83a84; }
    #shopElements #paymentDeets .button:focus {
      outline: 1px solid #fff;
      outline-offset: -4px; }
    #shopElements #paymentDeets .button:active {
      transform: scale(0.99); }

#checkoutModal {
  z-index: 10;
  top: 0;
  padding: 5px;
  margin: 0 auto; }

form {
  margin: 0 5%;
  height: 100px;
  width: 90%;
  background: white;
  border-radius: 4px; }

#paymentModal {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  overflow: scroll; }
  #paymentModal #payCloseLabel {
    position: fixed;
    right: 80px;
    top: 15px; }
    #paymentModal #payCloseLabel label:after {
      color: #FFF;
      text-shadow: 2px 2px 2px #ff817c;
      content: "\00D7";
      font-size: 30px;
      line-height: 50px;
      text-align: center; }
    #paymentModal #payCloseLabel #paymentClose {
      display: none; }
  #paymentModal #cartTitle {
    color: white;
    font-weight: 300;
    text-shadow: 2px 2px 2px #ff817c; }
  #paymentModal #cart {
    min-height: 50vh; }
  #paymentModal #cartItem {
    display: grid;
    grid-template-columns: 20% 40% 25% 15%;
    grid-template-areas: "image name qty price"; }
    #paymentModal #cartItem #itemImage {
      grid-area: image;
      overflow: hidden;
      object-fit: cover;
      justify-self: center;
      align-self: center;
      height: 60px;
      width: 60px;
      border-radius: 50%; }
      #paymentModal #cartItem #itemImage img {
        height: 100%;
        width: 100%; }
    #paymentModal #cartItem h1 {
      grid-area: name;
      font-size: 1.2rem;
      justify-self: start;
      align-self: center;
      margin: 0 10px; }
    #paymentModal #cartItem #price {
      grid-area: price;
      align-self: center; }
    #paymentModal #cartItem #qty {
      grid-area: qty;
      justify-self: center;
      align-self: center; }
    #paymentModal #cartItem button {
      grid-area: qty;
      width: 4vw;
      align-self: center;
      margin: auto 10%;
      padding: 0;
      font-size: 1rem;
      background: white;
      border-radius: 20%;
      box-shadow: 2px 2px 2px #ff817c;
      outline: none;
      border: none; }
      #paymentModal #cartItem button:first-child {
        justify-self: start; }
      #paymentModal #cartItem button:last-child {
        justify-self: end; }

/*# sourceMappingURL=App.css.map */
